<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"> 
	<meta name="viewport" content="width=device-width, 
    minimum-scale=1.0, maximum-scale=1.0">
	<title>USTADUIM Feed</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="css/responsive.css" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class='Singular-Feed-Page'>


<!---Header Begins
 -->
<header>
	<div class="header">    
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
			

				
	<a href="/"><img src="img/final-flow.png"
     srcset="img/final-flow@2x.png 2x,
             img/final-flow@3x.png 3x"
     class="Final-Flow"></a>

				
				

	<div class="col-sm-3">



		<form action="#" method='get' id='form-search' class='search'>
			<div class="form-group">
			<img src="img/magnifying-glass.png"
     srcset="img/magnifying-glass@2x.png 2x,
             img/magnifying-glass@3x.png 3x"
     class="magnifying-glass">
			<input type="text" class='search' name='search' id="search-bar" placeholder=" search">
			</div>
		</form> 

	</div>

		<img src="img/profile-pictures.jpg"
     srcset="img/profile-pictures@2x.jpg 2x,
             img/profile-pictures@3x.jpg 3x"
     class="Profile-Pictures">

			</div>
		</div>
	</div>

<!-- mobile-header -->
<!-- 
	<div class="mobile-header"> 
		<div class="container">
			<div class="row">
				<div class="col-md-12">

				<img src="img/u-logo-usefirst.png" class="U-Logo-FIRST text-center" id="mobile-header-logo" alt="">

			
				
					<form action="#" method='get' id='form-search' class='search'>
						<div class="form-group">
							<input type="text" class='form-control mobile-search-bar text-center' name='search-bar' id='search-bar' placeholder="&#xF002; Search">
						</div>
					</form>

					
					<ul class="mobile-header-links text-center">
						<li><a href="#">Create an account</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
		
				
				</div>
			</div>
		</div>
	</div> -->

<!-- mobile-header -->

</header>



<!-- Header Ends
 -->

 <!-- Feed Begins -->

 <section class="feed section-padding">
 	<div class="container">
 		<div class="row">
 			<div class="col-sm-12">
 				<div class="feed-name text-center">
 					<p>Feed Name</p>
 				</div>
 				<div class="-posts text-center">
 				<p>497 posts</p>
 				</div>
 				<div class="error"></div>

 	<!-- Posts -->	

 			<div class="Post">
 			<div class="container">	
 			<div class="row">	
 			<div class="col-sm-12">
 			
 			
 			
 			
 			<img src="img/bitmap_2.jpg" alt=""  class="post-avatar">
 			<p class='post-username'>FalconFans1</p>
 			<small class="post-timestamp"><time class="timeago">32 secs ago</time></small>
 			<p class='post-content'>Julio is the best receiver in the game right now!</p>


 			
 			<img src="" alt="" class="post-media">

 			
			<ul class="polling-icons text-center">	
			<li><img src="img/green-like-button.png" alt=""><small id="likes">0</small></li>
			<li><img src="img/grey-dislike-button.png" alt=""><small id="dislikes">0</small></li>
			<li><img src="img/grey-comment-button.png" alt=""><small id="comments">0</small></li>
			</ul>
		

 			</div>
 			</div>
 			</div>
 			</div>



			<div class="Post">
 			<div class="container">	
 			<div class="row">	
 			<div class="col-sm-12">
 			
 			<img src="img/bitmap.jpg" alt="" class="post-avatar">
 			<p class='post-username'>Jason</p>
 			<small class="post-timestamp">30 seconds ago</small>
 			<p class='post-content'>Real big fan of the moves my Patriots have been making this offseason! I'm ready for six SB's already! </p>

 			<ul class="polling-icons text-center">	
			<li><img src="img/green-like-button.png" alt=""><small id="likes">0</small></li>
			<li><img src="img/grey-dislike-button.png" alt=""><small id="dislikes">0</small></li>
			<li><img src="img/grey-comment-button.png" alt=""><small id="comments">0</small></li>
			</ul>


 			</div>
 			</div>
 			</div>
 			</div>
 			
 			
 			
 			<!-- Posts -->	







 			</div>			
 		</div>
 	</div>
 </section>



 <!-- Feed Ends -->




 <!-- Sign Up -->

 <section class="sign-up-section">
 	<div class="container">
 		<div class="row">
 			<div class="col-sm-12">
 			<p id='sign-up' class="text-center">Sign Up Today!</p><br>
 			<p class="text-center">Join us along the way of becoming great! We will send you emails containing information of how you can help us. We don’t spam.</p>
 			<br>
 			
 			<form action="#" method='post' id='form-email' class='email'>
				<div class="form-group">
					<input type="text" class='form-control submit-email' name='email' id='email' placeholder="Your email address">

					<input type="submit" id='email-btn' class='btn' value='Join Us'>
				</div>


			</form>


 				
 			</div>
 		</div>
 </div>
 	

 </section>

 <!-- Sign Up -->







<!-- Footer Begins -->
<footer>
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
					<a href="/"><img src="img/final-flow.png"
     srcset="img/final-flow@2x.png 2x,
             img/final-flow@3x.png 3x"
     id="footer-logo" class="Final-Flow"></a>

					<!-- <ul class="footer-links">
						<li><a href="">Create an account</a></li>
						<li><a href="">Support</a></li>
						<li><a href="">FAQ</a></li>
					</ul>
 -->


					<p>Copyright <script>document.write(new Date().getFullYear())</script> Next Gen Sports Inc. All Rights Reserved</p>

					 <a href="https://itunes.apple.com/us/app/ustadium/id1184610766?mt=8"><img src="img/download-app-store-final.jpg"
     srcset="img/download-app-store-final@2x.jpg 2x,
             img/download-app-store-final@3x.jpg 3x"
     class="Download-App-Store-Final" id="footer_app_store"></a>	

				

			</div>
			
		</div>
		
	</div>
	
</div>
</footer>
<!-- Footer Ends-->


	<script src="js/jquery.min.js" type='text/javascript'></script>
	<script src="bootstrap/js/bootstrap.min.js" type='text/javascript'></script>
	<script src="bootstrap/js/bootstrap.js" type='text/javascript'></script>
	<script src="js/main.js" type='text/javascript'></script>
	<script src="js/script.js" type='text/javascript'></script>
	<script src="js/ benchmark.js" type='type/javascript'></script>
	<script src="js/wow.min.js" type='text/javascript'></script>
	<script src="js/timeago.js" type='text/javascript'></script>
</body>
</html>

