
<!-- Footer Begins -->
<footer>
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
					<img src="img/u-logo-usefirst.png" class="U-Logo-FIRST" id='footer-logo' alt="">

					<ul class="footer-links">
						<li><a href="">Create an account</a></li>
						<li><a href="">Support</a></li>
						<li><a href="">FAQ</a></li>
					</ul>

					<p>Copyright 2017 Next Gen Sports Inc. All Rights Reserved</p>


				

			</div>
			
		</div>
		
	</div>
	
</div>
</footer>
<!-- Footer Ends-->


	<script src="js/jquery.min.js" type='text/javascript'></script>
	<script src="bootstrap/js/bootstrap.min.js" type='text/javascript'></script>
	<script src="bootstrap/js/bootstrap.js" type='text/javascript'></script>
	<script src="js/main.js" type='text/javascript'></script>
</body>
</html>