
<!---Header Begins
 -->
<header>
	<div class="header">	
		<div class="container">
			<div class="row">
				<div class="col-md-12">
				<div class="col-sm-3 col-sm-6">
					
						<img src="img/u-logo-usefirst.png" class="U-Logo-FIRST" id="header-logo" alt="">
				</div>

				<div class="col-sm-3 col-sm-6">
					<form action="#" method='get' id='form-search' class='search'>
						<div class="form-group">
							<input type="text" class='form-control search-bar' name='search-bar' id='search-bar' placeholder="&#xF002; Search">
						</div>
					</form>
					
				</div>

				<div class="col-sm-3 col-sm-6">
					<ul class="header-links">
						<li><a href="#">Create an account</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
				</div>
				
				</div>
			</div>
		</div>
	</div>

<!-- mobile-header -->

	<div class="mobile-header">	
		<div class="container">
			<div class="row">
				<div class="col-md-12">

				<img src="img/u-logo-usefirst.png" class="U-Logo-FIRST text-center" id="mobile-header-logo" alt="">

			
				
					<form action="#" method='get' id='form-search' class='search'>
						<div class="form-group">
							<input type="text" class='form-control mobile-search-bar text-center' name='search-bar' id='search-bar' placeholder="&#xF002; Search">
						</div>
					</form>

					
					<ul class="mobile-header-links text-center">
						<li><a href="#">Create an account</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
		
				
				</div>
			</div>
		</div>
	</div>

<!-- mobile-header -->


</header>



<!-- Header Ends
 -->

