<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"> 
	<meta name="viewport" content="width=device-width, 
    minimum-scale=1.0, maximum-scale=1.0">
	<title>USTADUIM Popup</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="css/animate.min.css" type="text/css">
	<link rel="stylesheet" href="css/responsive.css" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>



<!-- Popup begins -->

 <div class="modal">


<div class="overlay"></div>


<div class="card wow fadeInLeftBig" id="emailSignupPopup">
		 <h1>uSTADIUM.com</h1>
		 <p class="info">will soon be released in beta.</p>
     <p class="info">Sign up now for first access.</p>

	 <form action="/" method='post'>
				<div class="form-group">
					<input type="text" name='email' id='email' placeholder="Enter Your Email"> <br>
					<input type="submit" value='Submit'> <br>
					<a href="https://itunes.apple.com/us/app/ustadium/id1184610766?mt=8"><img src="img/app_store.png" id="app_store" alt=""></a>	
				</div>
			</form>
</div>


<!-- Mobile Popup begins -->



<div class="pop-up-overlay"></div>


<div class="mobile-card wow fadeInDownBig" id="emailSignupPopup">
	<h1>uSTADIUM.com</h1>
	<p class="info">will soon be released in beta.</p>
	<p class="info">Sign up now for first access.</p>

<form action="/" method='post'>
		 <div class="form-group">
			 <input type="text" name='email' id='email' placeholder="Enter Your Email"> <br>
			 <input type="submit" value='Submit'> <br>	
			 <a href="https://itunes.apple.com/us/app/ustadium/id1184610766?mt=8"><img src="img/app_store.png" id="app_store" alt=""></a>
		 </div>
	 </form>

</div>
</div>

<!-- Mobile Popup Ends -->
<!-- Popup ends -->





<!---Header Begins
 -->
<header>
<div class="header">	
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
				<ul class="header-icons">

				<li class="U-Logo-USE-FIRST-Copy">
	<img src="img/u-logo-use-first-copy.png"
	 srcset="img/u-logo-use-first-copy@2x.png 2x, 
			 img/u-logo-use-first-copy@3x.png 3x"
	 class="U-Logo-USE-FIRST-Copy"></li>

				<li class="Feeds">
				<img src="img/feeds-icon.png"
	 srcset="img/feeds-icon@2x.png 2x, 
			 img/feeds-icon@3x.png 3x"
	 class="Feeds-Icon"> <span>Feeds</span> </li>


				<li class="Messages">
				<img src="img/messages.png"
	 srcset="img/messages@2x.png 2x, 
			 img/messages@3x.png 3x"
	 class="Messages-Icon"><span>Messages</span></li>
				</ul>
				
				</div>

				<div class="col-sm-3 col-sm-6">
					<form action="#" method='get' id='form-search' class='search'>
						<div class="form-group">
							<input type="text" class='form-control search-bar' name='search-bar' id='search-bar' placeholder="&#xF002; Search">
						</div>
					</form>
					
				</div>

				<div class="col-sm-3 col-sm-6">
					<ul class="header-links">
						<li><a href="#">Create an account</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
				</div>
				
				</div>
			</div>
		</div>
	</div>
<!-- mobile-header -->

<div class="mobile-header">	
		<div class="container">
			<div class="row">
				<div class="col-md-12">

				<img src="img/u-logo-usefirst.png" class="U-Logo-FIRST text-center" id="mobile-header-logo" alt="">

				<div class=" button_container" id="toggle">
					<span class="top"></span>
					<span class="middle"></span>
					<span class="bottom"></span>
						
				</div>

				<i class="fa fa-search fa-2x" id="mobile-search"></i>

				<div class="overlay" id="overlay">
				<nav class="overlay-menu">

				<ul class="header-icons text-center">
						
							
								<li class="Feeds">
								<img src="img/feeds-icon.png"
					 srcset="img/feeds-icon@2x.png 2x, 
							 img/feeds-icon@3x.png 3x"
					 class="Feeds-Icon"> <span>Feeds</span> </li>


								<li class="Messages">
								<img src="img/messages.png"
					 srcset="img/messages@2x.png 2x, 
							 img/messages@3x.png 3x"
					 class="Messages-Icon"><span>Messages</span></li>
						<li class="mobile-header-links"><a href="#">Create an account</a></li>


						<li class="mobile-header-links"><a href="#">FAQ</a></li>
				</ul>
					



				</nav>
				</div>



			
				
				<!-- 	<form action="#" method='get' id='form-search' class='search'>
						<div class="form-group">
							<input type="text" class='form-control mobile-search-bar text-center' name='search-bar' id='search-bar' placeholder="&#xF002; Search">
						</div>
					</form>

					
					<ul class="mobile-header-links text-center">
						<li><a href="#">Create an account</a></li>
						<li><a href="#">FAQ</a></li>
					</ul> -->
		
				
				</div>
			</div>
		</div>
	</div>


<!-- mobile-header-ends -->


</header>





<!-- Header Ends
 -->

 <!-- Feed Begins -->

 <section class="feed section-padding">
 	<div class="container">
 		<div class="row">
 			<div class="col-sm-12">
 				<div class="feed-name text-center">
 					<p>Feed Name</p>
 				</div>
 				<div class="-posts text-center">
 				<p>497 posts</p>
 				</div>

 	<!-- Posts -->	

 			
 			<div class="container First-Post" id="Post">	
 			<div class="row">	
 			<div class="col-sm-12">
 			
 			
 			
 			
 			<img src="img/bitmap_2.jpg" alt="" class="post-avatar">
 			<h4 class='post-username'>FalconFans1</h4>
 			<small class="post-timestamp">32 seconds ago</small>
 			<p class='post-content'>Julio is the best receiver in the game right now!</p>


 			
 			<img src="img/post-img.jpg" alt="" class="post-img">

 			
			<ul class="polling-icons text-center">	
			<li><img src="img/green-like-button.png" alt=""></li>
			<li><img src="img/grey-dislike-button.png" alt=""></li>
			<li><img src="img/grey-comment-button.png" alt=""></li>
			</ul>
		

 			</div>
 			</div>
 			</div>




 			<div class="container Second-Post" id="Post">	
 			<div class="row">	
 			<div class="col-sm-12">
 			
 			
 			
 			
 			<img src="img/bitmap.jpg" alt="" class="post-avatar">
 			<h4 class='post-username'>Jason</h4>
 			<small class="post-timestamp">30 seconds ago</small>
 			<p class='post-content'>Real big fan of the moves my Patriots have been making this offseason! I'm ready for six SB's already! </p>



 			
 			


 			</div>
 			</div>
 			</div>
 			
 			
 			
 			<!-- Posts -->	







 			</div>			
 		</div>
 	</div>
 </section>



 <!-- Feed Ends -->




 <!-- Sign Up -->

 <section class="sign-up-section">
 	<div class="container">
 		<div class="row">
 			<div class="col-sm-12">
 			<p id='sign-up' class="text-center">Sign Up Today!</p><br>
 			<p class="text-center">Join us along the way of becoming great! We will send you emails containing information of how you can help us. We don’t spam.</p>
 			<br>
 			
 			<form action="#" method='post' id='form-email' class='email'>
				<div class="form-group">
					<input type="text" class='form-control submit-email' name='email' id='email' placeholder="Your email address">

					<input type="submit" id='email-btn' class='btn' value='Join Us'>
				</div>


			</form>


 				
 			</div>
 		</div>
 </div>
 	

 </section>

 <!-- Sign Up -->







<!-- Footer Begins -->
<footer>
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
					<img src="img/u-logo-usefirst.png" class="U-Logo-FIRST" id='footer-logo' alt="">

					<ul class="footer-links">
						<li><a href="">Create an account</a></li>
						<li><a href="">Support</a></li>
						<li><a href="">FAQ</a></li>
					</ul>

					<p>Copyright 2017 Next Gen Sports Inc. All Rights Reserved</p>


				

			</div>
			
		</div>
		
	</div>
	
</div>
</footer>
<!-- Footer Ends-->


	<script src="js/jquery.min.js" type='text/javascript'></script>
	<script src="bootstrap/js/bootstrap.min.js" type='text/javascript'></script>
	<script src="bootstrap/js/bootstrap.js" type='text/javascript'></script>
	<script src="js/main.js" type='text/javascript'></script>
	<script src="js/script.js" type='text/javascript'></script>
	<script src="js/wow.min.js" type='text/javascript'></script>

</body>
</html>